body{
    background-color: red;
}
.parent{
    width:100%;
    height: 400px;
    background-color: aqua;
}
.child{
    background-color: yellow;
    height: 100px;
    width: 50%;
    top:20px;
    left:100px;
    
    position: relative;
}
.child1{
    width:50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top:20px;
    right: 100px;
    border-radius: 50px;
}